/*mobile__menu*/
.mobile-header-menu{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__info{
    overflow: hidden;
    display: flex;
    width: auto;
    padding: 0 40px;
}
.nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.burger__btn{
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 35px;
    height: 25px;
    margin-right: 20px;
}
.burger__btn .span__burger{
    height: 2px;
    width: 25px;
    transform: scale(1);
    background-color: coral;
}
.burger__btn::before, .burger__btn::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: coral;
    transition: all 0.5s ease 0s;
}
.burger__btn::before{
    top: 0;
}
.burger__btn::after{
    bottom: 0;
}
/* Анимация открытия кнопки */
.burger__btn.active .span__burger{
    transform: scale(0);
}
.burger__btn.active::before{
    top: 50%;
    transform: rotate(-50deg) translate(0,-45%);
    background-color: coral;
}
.burger__btn.active::after{
    top: 50%;
    transform: rotate(50deg) translate(0, 45%);
    background-color: coral;
}
.burger__btn.active{
    position: fixed;
    right: 0;
    z-index: 999;
}
/* Nav info */
.nav__info{
    display: none;
    flex-direction: column; 
    position: fixed;
    height: 100%;
    top: 0; bottom: 0; right: 0;
    z-index: 99;
    overflow-y: auto;
    padding: 80px 40px;
    background-color: #1a1818;
    border-style: solid;
    border-radius: 5px;
    border-color: coral;
    
}
.nav__info .ul__burger{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
    margin-top: 30px;
    z-index: 99;
}
.ul__burger2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
    margin-top: 30px;
    z-index: 99;
}
.nav__burger1{
    font-size: 22px;
    color: coral;
}
.nav__burger2{
    margin-top: 30px;
    font-size: 22px;
    color: coral; 
}
.open{
    display: flex !important;
}
.a__burger{
    text-decoration: none;
}
.li__burger{
    text-decoration: none;
    color: white;
}